In [1]:
# Import Library

import pandas as pd
from pandas import ExcelWriter
from pandas import ExcelFile

import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Read the dataset
df = pd.read_csv('MariBisnis.csv')

In [3]:
# Print the columns
print("Column headings:")
print(df.columns)

Column headings:
Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [4]:
# Dropping nilai null
df.isnull().sum()
# drop some unnecessary columns
df = df.drop('date',axis=1)
df = df.drop('id',axis=1)
df = df.drop('zipcode',axis=1)

In [5]:
X = df.drop('price',axis =1).values
y = df['price'].values

#Split data Train and Test 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=101)

In [6]:
#standardization scaler - fit&transform on train, fit only on test
from sklearn.preprocessing import StandardScaler
s_scaler = StandardScaler()
X_train = s_scaler.fit_transform(X_train.astype(np.float))
X_test = s_scaler.transform(X_test.astype(np.float))

In [7]:
# Multiple Liner Regression
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()  
regressor.fit(X_train, y_train)
#evaluate the model (intercept and slope)
print(regressor.intercept_)
print(regressor.coef_)

#predicting the test set result
y_pred = regressor.predict(X_test)

#Cek Koefisien keterkaitannya
coeff_df = pd.DataFrame(regressor.coef_, df.drop('price',axis =1).columns, columns=['Coefficient']) 
coeff_df

540136.5221442968
[-3.13528097e+04  2.82993426e+04  1.31295685e+17  6.64924546e+03
  3.10394267e+03  4.99601146e+04  3.71898284e+04  2.10051390e+04
  1.15989535e+05 -1.18730852e+17 -6.29549892e+16 -7.32298384e+04
  7.18903311e+03  7.77064385e+04 -1.72459235e+04  1.86896681e+04
 -1.04502115e+04]

                Coefficient
bedrooms      -3.135281e+04
bathrooms      2.829934e+04
sqft_living    1.312957e+17
sqft_lot       6.649245e+03
floors         3.103943e+03
waterfront     4.996011e+04
view           3.718983e+04
condition      2.100514e+04
grade          1.159895e+05
sqft_above    -1.187309e+17
sqft_basement -6.295499e+16
yr_built      -7.322984e+04
yr_renovated   7.189033e+03
lat            7.770644e+04
long          -1.724592e+04
sqft_living15  1.868967e+04
sqft_lot15    -1.045021e+04

In [8]:
# Bandingkan hasil prediksi dengan hasil asli
y_pred = regressor.predict(X_test)
df_eval = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df1 = df_eval.head(10)
df1

     Actual      Predicted
0  349950.0  511448.522144
1  450000.0  646672.522144
2  635000.0  535384.522144
3  355500.0  327144.522144
4  246950.0   75260.522144
5  406550.0  490024.522144
6  350000.0  295960.522144
7  226500.0  278304.522144
8  265000.0  289880.522144
9  656000.0  510806.522144

In [9]:
# Evaluasi
from sklearn import metrics
print('MAE:', metrics.mean_absolute_error(y_test, y_pred))  
print('MSE:', metrics.mean_squared_error(y_test, y_pred))  
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))
print('VarScore:',metrics.explained_variance_score(y_test,y_pred))

MAE: 126652.16713272841
MSE: 40881645042.57581
RMSE: 202192.09935745713
VarScore: 0.7023434263356307